@charset "UTF-8";

:root {
    color-scheme: dark;

    --menico-ui--background: #0f0f0f;
    --menico-ui--text: #ececec;
}

*, ::before, ::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    border: none;
}

html {
    font-size: 0;
}

html {
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Consolas', sans-serif;
}

body {
    background-color: var(--menico-ui--background);
    color: var(--menico-ui--text);
}

body, #rootLayout {
    overflow: hidden;
}

.audioStatus {
    display: flex;
    
    position: absolute;
    
    left: 0;
    right: 0;
    
    bottom: 0;
    
    font-family: 'Consolas', sans-serif;
    
    font-weight: 400;
    font-size: 14px;
    
    padding: 14px 0;
    
    justify-content: center;
    
    user-select: none;
}
